Source: lindenmayer 
Section: science
Priority: optional
Maintainer: Christian Lins <christian@lins.me>
Homepage: http://bitbucket.org/cli/lindenmayer
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.50~), openjdk-6-jdk, ant, ant-optional, 
 libjdom1-java, docbook-xsl, docbook-xml, xsltproc

Package: lindenmayer
Architecture: all
Depends: ${misc:Depends}, openjdk-6-jre | java2-runtime, libjdom1-java
Description: L-Systems grammar viewer and editor
 A program for visualization of L(indenmayer)-Systems as trees.
 Lindenmayer reads formal grammars from XML files and render 
 them as plant-looking images. Additionally, the program incorporates
 basic editing functions for this grammars.
